{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Error 500{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-danger" role="alert">You were the chosen server! You were supposed to serve requests, not destroy them! <a href="https://discord.gg/qRXxaJH2YM">Report error</a>.</div>
</div>
{% endblock %}
