{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
<div class="container">
    <div class="alert alert-danger" role="alert">You've traveled to a webpage that doesn't exist on any navigational chart.</div>
</div>
{% endblock %}
