/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/config/config_db.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/app/Resources/translations
/bin/
/vendor/
/web/bundles/
tags
/web/assets/
/web/js/
/web/css/
/web/app_dev.php
/node_modules
.externalToolBuilders/
.settings/
.buildpath
.project
.tags_swap
.idea/
.DS_Store
error_log
.user.ini
/src/AppBundle/Resources/public/images/cards/
/web/robots.txt
/var/.dev_admin_created
/var/.dev_initialized