services:
  app:
    user: "0:0"
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "80:80"
    environment:
	# GENERAL

      SYMFONY_ENV: "dev" # dev(elopment) / prod(uction)
	  NODE_BIN: "/usr/local/bin/node"
      HANDLEBARS_BIN: "/var/www/html/node_modules/handlebars/bin/handlebars"

	# DATABASE

      DB_HOST: "db"
      DB_PORT: "3306"
      DB_NAME: "swdestiny_db"
      DB_USER: "swdestinydb_admin"
      DB_PASSWORD: "insecure"

	# MAILER

      MAILER_HOST: "localhost"
      MAILER_USER: "dev"
	  EMAIL_SENDER_ADDRESS: "noreply@localhost"
      EMAIL_SENDER_NAME: "swdestinydb"

    # SECURITY

	SECRET: "insecure" # Secret for cryptographic functions.

    # MISC

      WEBSITE_URL: "localhost"
      WEBSITE_NAME: "swdestinydb"
      GAME_NAME: "swdestinydb"
      PUBLISHER_NAME: "swdestinydb"
      HAPPYR_MESSAGES_API_KEY: "-GeNAIp8XIzwIZCFZL3ZsP9k5vWBxo4F"
      HAPPYR_VALIDATORS_API_KEY: "CWow0Q-lOtg1QdZaV5UsrhpKrd2fYz9z"

    volumes:
      - ./:/var/www/html
    
    depends_on:
      - db

  db:
    image: mysql:5.7
    command: --character-set-server=utf8 --collation-server=utf8_general_ci
    environment:
      MYSQL_DATABASE: "swdestiny_db"
      MYSQL_USER: "swdestinydb_admin"
      MYSQL_PASSWORD: "insecure"
      MYSQL_ROOT_PASSWORD: "insecure"

    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
