imports:
    - { resource: config.yml }

#framework:
#    validation:
#        cache: validator.mapping.cache.apc
#    serializer:
#        cache: serializer.mapping.cache.apc

#doctrine:
#    orm:
#        metadata_cache_driver: apc
#        result_cache_driver: apc
#        query_cache_driver: apc

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: error
            handler:      nested
        nested:
            type:  stream
            path:  "php://stderr"
            level: debug
        console:
            type:  console

assetic:
    node: /opt/cpanel/ea-nodejs16/bin/node
    filters:
      handlebars:
        bin: /opt/cpanel/ea-nodejs16/bin/handlebars
        node: /opt/cpanel/ea-nodejs16/bin/node

fos_js_routing:
  routes_to_expose:
    - user_info
    - api_formats
    - '^api_'

parameters:
  assetic.node.bin: /opt/cpanel/ea-nodejs16/bin/node
  assetic.filter.handlebars.node: /opt/cpanel/ea-nodejs16/bin/handlebars
  assetic.filter.handlebars.bin: /home/gxpvsxmy/Servers/swdestinydb/node_modules/.bin/handlebars
