parameters:
    database_url:     localhost

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_port:       999
    mailer_user:       dev@dev.dev
    mailer_password:   ~
    mailer_encryption: ~
    mailer_auth_mode:  ~

    # A secret key that's used to generate security-related tokens
    secret:            insecure
    
    cache_expiration:  600 #seconds
    
    # Email sender
    email_sender_address: noreply@localhost
    email_sender_name: dev
    
    # Branding
    website_name: dev
    website_url: localhost
    game_name: dev
    publisher_name: dev
    
    # Analytics & AdSense
    google_analytics_tracking_code: UA-00000000-1
    google_adsense_client: ca-pub-000000000000000
    google_adsense_slot: 0000000000

    # The Moneytizer
    moneytizer_site_id: ~
    moneytizer_ad_types: ~

    # Doctrine Config
    db_name: swdestiny_db
    db_username: swdestinydb_admin
    db_password: insecure
    db_host: db

    # Happyr Config
    happyr_messages_api_key: ~
    happyr_validators_api_key: ~

    # Assetic Config
    node_bin: /usr/bin/nodejs
    handlebars_bin: ./node_modules/handlebars/bin/handlebars
