{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="main white container">
<div class="row">

<div class="col-md-12">
<h1>Donators - Thank you!</h1>
<p class="lead">This database is brought to you by the following people, thank you for keeping destiny alive!</p>
<p>As a thank you to these individuals, they get double the deck slots of free users.</p>
<p><i>Donated but can't see your name? Contact a member of the ARH team.</i></p>
<ul>
{% for donator in donators %}
<li>
    <a href="{{ path('user_profile_public', {user_id:donator.id,user_name:donator.username|e('url')}) }}" class="username {{ donator.affiliation }}">{{ donator.username }}</a>
    <span class="fa fa-gift donator" title="Donator"></span>
</li>
{% endfor %}
</ul>
</div>

</div>
</div> <!-- .container -->

{% endblock %}
